.skill-container {
  border: groove rgb(109, 224, 226);
  border-radius: 5px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
}

.rounded-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.curs-font {
  font-family: cursive;
}
